body {
    background: url(img/englishtv.png);
    background-size: cover;
}

.container {
    width: 1400px;
    height: 300px;
    padding: 10px;
    position: fixed;
    top: 350px;
    right: 12%;
}


.item {
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #3C3B6E ;
    color: #FFFFFF;
    border: 2px solid black;
    text-align: center;
}
.item a{
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}
.item:focus{
    background-color: #B22234;
    color: white;
    border: 2px solid white;
}
.clicked {
    background-color: #4EF72F;
    color: white;
    border: 2px solid white;
    font-size: 35px;
}


#main {
    float: right;
    width: 80%;
    height: 85%;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: rgba(143, 200, 249, 0.5);
    overflow: auto;
}
#mainflex {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
#main .item {
    width: 180px;
    height: 180px;
}

::-webkit-scrollbar {
  width: 25px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #cf0652; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ac0645; 
}